.clsIconCntLabel {
	position: absolute;
	top: 0;
	left: 60%;
	font-size: 10px;
	font-weight: 700;
	line-height: 17px;
	border-radius: 50%;
	width: 17px;
	height: 17px;
	background-color:#dedede;
	border: 1px solid #dedede;
	color:#4C4C4C;
	text-align: center;
}
 
