<mat-toolbar *ngIf="'1' == showView">
  <mat-toolbar-row>Oops!!! Your link has been expired</mat-toolbar-row>
</mat-toolbar>

<div class="session clsCustomloginbackGroundImg" *ngIf="'2' == showView">
  <div class="session-content">
    <div class="session-wrapper">
      <div class="text-xs-center pb-1">
        <img src="assets/images/marc_admin.svg" height="58" title="MARC">
      </div>
      <div id="reset-password">
        <mat-card class="clsCustomZeroPadding">
          <mat-card-content class="customLoginContent">
            <form [formGroup]="resetPasswordForm" #form="ngForm" (ngSubmit)="submitResetPassword(resetPasswordForm.value)">
              <div fxLayout="column" fxLayoutAlign="space-around">
                <div class="pb-1">
                  <mat-form-field class=" clsCustomFullWidth">
                    <mat-icon matPrefix class="clsCustomMatIcon ">lock</mat-icon>
                    <input matInput placeholder="New Password" name="password" formControlName="password" [type]="settingDataObj['newPwd'] ? 'password' : 'text'">
                    <mat-icon matSuffix class="clsCursor" (click)="settingDataObj['newPwd'] = !settingDataObj['newPwd']">{{settingDataObj['newPwd'] ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].touched">{{'pwdReq'|translate}}</mat-error>
                    <mat-error *ngIf="resetPasswordForm.controls['password'].errors?.pattern && resetPasswordForm.controls['password'].touched">{{'pwdInvalid'|translate}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="pb-1">
                  <mat-form-field class="clsCustomMatFormField clsCustomFullWidth">
                    <mat-icon matPrefix class="clsCustomMatIcon">lock</mat-icon>
                    <input matInput placeholder="Confirm Password" formControlName="confirmPassword" [type]="settingDataObj['newPwd'] ? 'password' : 'text'">
                    <mat-icon matSuffix class="clsCursor" (click)="settingDataObj['confirmPwd'] = !settingDataObj['confirmPwd']">{{settingDataObj['confirmPwd'] ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.equalTo">{{'pwdNotMatch'|translate}}</mat-error>
                  </mat-form-field>
                </div>
                <button color="primary" mat-fab type="submit" class="clsCustomLoginSubmitBtn" [disabled]="!resetPasswordForm.valid || isButtonDisabled">
                  <mat-icon>arrow_forward</mat-icon>
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="text-xs-center pb-1">
    <a class="clsCustomAnchorTagPadding" href="https://itunes.apple.com/us/app/marc-energy/id1360661298?ls=1&mt=8">
      <img src="assets/images/apple.png" title="iOS" height="45px">
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.esl.hemant_pc.marc&hl=en">
      <img src="assets/images/android.png" title="Android" height="45px">
    </a>
  </div>
</div>