@import "../../../assets/styles/scss/material.variables";
:host {
  margin-left: -4px;
  margin-top: -4px;
  display: block;
}
$mat-toolbar-height-desktop: 64px !default;
$mat-toolbar-height-mobile-portrait: 56px !default;
$mat-toolbar-height-mobile-landscape: 48px !default;

.clsMatCard {
  margin-top: -($mat-toolbar-height-desktop);
}

.mat-form-field {
  width: auto;
}

.mat-toolbar {
  background-color:#E0E0E0!important;
}

@media ($mat-xsmall) and (orientation: portrait) {
  .clsMatCard {
    margin-top: -($mat-toolbar-height-mobile-portrait);
  }
}

@media ($mat-small) and (orientation: landscape) {
  .clsMatCard {
    margin-top: -($mat-toolbar-height-mobile-landscape);
  }
}
.clsCardContent{
  height: 415px;
  overflow: auto;
}