.clsHideLiBullet li {
  display: block !important;
}
.clsCustomHeading {
  font-weight: inherit;
}
// highlight role fild
  .rcolor:focus {
     border-bottom: 1px solid red;

}
.rcolor1:focus{
  // border-bottom: 1px solid red;

 mobile :"please enter valid mobile number."
}

